<h1 class="my-4 text-danger text-center"><i>Choose your tour</i></h1>
<div class="row row-cols-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="{{cImg}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{cName}}</h5>
                <p class="card-text">{{des}}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="{{cImg}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{cName}}</h5>
                <p class="card-text">{{des}}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="{{cImg}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{cName}}</h5>
                <p class="card-text">{{des}}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="{{cImg}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{cName}}</h5>
                <p class="card-text">{{des}}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="{{cImg}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{cName}}</h5>
                <p class="card-text">{{des}}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="{{cImg}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{cName}}</h5>
                <p class="card-text">{{des}}</p>
            </div>
        </div>
    </div>
</div>