/* .bg-light {
    background: url('https://cdn.pixabay.com/photo/2015/10/30/20/13/sunrise-1014712_960_720.jpg') no-repeat center center;
    color: white;
    background-size: cover;
} */

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');